<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="misbah.naseer.mobilestore">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".helper.FirebasemContext"
        android:allowBackup="true"
        android:icon="@mipmap/app_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MyCustomTheme">
        <activity android:name=".ui.SplashActivity" />
        <activity android:name=".ui.LandingActivity" />
        <activity android:name=".helper.PermissionsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.SignupActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity android:name=".ui.DistributorHomeActivity" />
        <activity android:name=".ui.StoreHomeActivity" />
        <activity android:name=".ui.AdminHomeActivity" />
        <activity android:name=".ui.NotificationHandlerActivity" />
        <activity android:name=".ui.MessagingActivity" />
        <activity android:name=".ui.OrderTrackingActivity" />
        <activity android:name=".ui.PlaceOrderActivity" />
        <activity android:name=".ui.TimerServiceTestActivity" />

        <service
            android:name=".services.MessageSnifferService"
            android:exported="false" />
        <service android:name=".services.TimerService" />

        <receiver
            android:name=".services.MessageReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="action.mobilestore.message" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="33ed1688bf347aea5884b52dd72e95a9a2b6cf82" />

        <activity android:name=".ui.OrderTimesActivity" />
        <activity android:name=".ui.AddRemoveItemsActivity"></activity>
    </application>

</manifest>